.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 24px rgba(0, 0, 0, 0.35); /* Aumenta a sombra escura */
  width: 400px;
  max-width: 90%;
  margin: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #333;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.half-width {
  width: 48%;
}

.form-group.full-width {
  width: 100%;
}

.form-group input,
.form-group textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Remove as alças de redimensionamento */
  overflow-y: auto; /* Adiciona rolagem vertical */
}

.form-group textarea {
  height: 100px; /* Define a altura inicial da textarea */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.required {
  color: red;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.1s;
}

button.disabled {
  background-color: #A8A8A8;
  color: white;
}

button.enabled {
  background-color: green;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.saved-forms-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #A9A9A9; /* Cinza */
  color: #32CD32; /* Verde claro */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.1s;
  text-decoration: none; /* Remove sublinhado do link */
  font-size: 16px;
  font-weight: bold; /* Deixa o texto mais visível */
}

.saved-forms-button:hover {
  background-color: #808080; /* Cinza escuro */
  color: #32CD32; /* Verde claro */
}

.saved-forms-button:active {
  transform: scale(0.98);
}